<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<a style="color: white;" href="http://localhost:8080/getDataForWorker"> <button   style="border-collapse: collapse; color: white;" class="btn btn-success">Home</button></a>

<div class=container4>
    <p>
        <a href="http://localhost:8080/getAttendanceDataForAdmin"><button type="button" class="btn btn-danger btn-lg">View/Delete Workers Data</button></a>
        <a href="http://localhost:8080/update_table"><button type="button" class="btn btn-success btn-lg">Update Workers Data</button></a>
  </div>
<style>
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
</style>