<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Worker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <a style="color: white;" href="http://localhost:8080/getDataForWorker"> <button   style="border-collapse: collapse; color: white;" class="btn btn-success">Home</button></a>

</header>
    <!-- < -->
  <div class="form-group" id="container">
    <form action="http://localhost:8080/post" method="post" enctype="multipart/form-data">
      <center><h1>Add new Worker data</h1>  </center>
      <hr>

      <br>
<center><label for="">First Name : </label>
  <input type="text" name="fname" id="fn" style="align-items: left;"><br><br>
</center>
<center> 
  <label for="">Last Name : </label>
  <input type="text" name="lname" id="ln"><br><br>
</center>
<center>
  <label for="">Phone Number: </label>
    <input type="text" name="phone" id="pn"><br><br>
  </center>
  <center>
    <label for="">Email : </label>
    <input type="email" name="email" id="em"><br><br>
  </center>
  <center>
    <label for="Dep">Choose Department :</label>
    <select name="Department" id="dep" style="width: 150px;">
      <option value="Carpenter">Carpenter</option>
      <option value="Plumber">Plumber</option>
      <option value="Electrician">Electrician</option>
    </select><br><br>
  </center>
  
  <center>
    <label for="">Previous Company name : </label>
    <input type="text" name="Previous_comp" id="Previous_comp"><br> <span>(Put NA if you are a freshers)</span><br><br>
  </center>
  
  <center>
    <label for="">Experience in Years : </label>
    <input type="text" name="experience" id="experience"><br> <span>(Put NA if you are a freshers)</span><br><br>
  </center>
  <center>
    <label for="image">Upload Your Profile Picture : </label>
    <input type="file" name="file"  id="" style="margin-left: 150px;"></center>
  </center>
  
<br>

<center>
  <label for="bond_for_days">Bond : </label>
  <input type="text" name="bond_for_days"  id="" style="margin-left: 150px;"></center>
</center>

<br>    
<center>
    <button class="btn btn-outline-success my-2 my-sm-0" id="dimg" type="submit" >submit</button></center>
  </center>
  </form>
</center>
  </div>

    <!-- <div class="cart">
        <div class="wallpaper" width="350px" height="350px" style="margin-left: 52px;">
            <img src="bg.jpg" class="zoom" width="350px" height="350px" alt=""><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0" id="dimg" >Download Image</button>
        </div>
    </div> -->
    
</body>
<style>
  body{
        background-color: whitesmoke;

  }
  #container{
    height: 700px;
    width: 600px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    border: 1.5px solid black;
  }
</style>
</html>